# Getting Beer Data

## Imports

In [5]:
import requests
from time import sleep
import pandas as pd
import numpy as np

## Get Beers

In [2]:
key = "c96d2760fbd1bc0c6a8831b87ce86137"
beer_url = "http://api.brewerydb.com/v2/beers/?key={}&availableId=1&p={}"

beers_response = requests.get(beer_url.format(key, "1"))
beers = beers_response.json()

In [5]:
totalPages = beers["numberOfPages"]

beers_dict = beers["data"]

for i in range(2, totalPages + 1):
    sleep(1) # Be nice to their servers
    beers_response = requests.get(beer_url.format(key, i))
    beers = beers_response.json()
    
    beers_dict.extend(beers["data"])

In [6]:
df = pd.DataFrame.from_dict(beers_dict)
df.head()

,abv,available,availableId,beerVariation,beerVariationId,createDate,description,foodPairings,glass,glasswareId,...,servingTemperature,servingTemperatureDisplay,srm,srmId,status,statusDisplay,style,styleId,updateDate,year
0,6.33,"{'id': 1, 'name': 'Year Round', 'description':...",1,NaN,NaN,2015-04-20 21:43:59,"Our first beer has been aptly named ""633"" afte...",NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,verified,Verified,"{'id': 25, 'categoryId': 3, 'category': {'id':...",25.0,2015-04-20 21:43:59,NaN
1,5.6,"{'id': 1, 'name': 'Year Round', 'description':...",1,NaN,NaN,2013-04-28 20:21:56,"Good, dense head retention is desirable. Light...",NaN,NaN,NaN,...,NaN,NaN,"{'id': 5, 'name': '5', 'hex': 'FBB123'}",5.0,verified,Verified,"{'id': 45, 'categoryId': 4, 'category': {'id':...",45.0,2016-05-05 14:07:35,NaN
2,6.6,"{'id': 1, 'name': 'Year Round', 'description':...",1,NaN,NaN,2013-07-27 14:02:13,This medium amber beer is infused with a blend...,NaN,"{'id': 5, 'name': 'Pint', 'createDate': '2012-...",5.0,...,NaN,NaN,NaN,NaN,verified,Verified,"{'id': 30, 'categoryId': 3, 'category': {'id':...",30.0,2015-03-18 18:05:08,NaN
3,NaN,"{'id': 1, 'name': 'Year Round', 'description':...",1,NaN,NaN,2012-09-29 17:22:22,The stout style lends itself well to pairing w...,NaN,"{'id': 5, 'name': 'Pint', 'createDate': '2012-...",5.0,...,NaN,NaN,NaN,NaN,verified,Verified,"{'id': 20, 'categoryId': 1, 'category': {'id':...",20.0,2015-04-24 13:24:02,NaN
4,4.7,"{'id': 1, 'name': 'Year Round', 'description':...",1,NaN,NaN,2012-01-03 02:44:19,The true Summer Ale of Central Oregon! A Golde...,NaN,"{'id': 5, 'name': 'Pint', 'createDate': '2012-...",5.0,...,NaN,NaN,NaN,NaN,verified,Verified,"{'id': 36, 'categoryId': 3, 'category': {'id':...",36.0,2015-05-22 02:27:37,NaN

In [7]:
df.shape

(9670, 27)

In [8]:
df.columns.values

array(['abv', 'available', 'availableId', 'beerVariation',
       'beerVariationId', 'createDate', 'description', 'foodPairings',
       'glass', 'glasswareId', 'ibu', 'id', 'isOrganic', 'labels', 'name',
       'nameDisplay', 'originalGravity', 'servingTemperature',
       'servingTemperatureDisplay', 'srm', 'srmId', 'status',
       'statusDisplay', 'style', 'styleId', 'updateDate', 'year'], dtype=object)

In [9]:
df.to_csv("./beers_raw.csv", encoding="utf-8")

## Get Styles

In [10]:
style_url = "http://api.brewerydb.com/v2/styles/?key={}"

styles_response = requests.get(style_url.format(key))
styles = styles_response.json()

In [11]:
styles_dict = [[style["id"], style["name"], style["shortName"]] for style in styles["data"]]
style_df = pd.DataFrame.from_dict(styles_dict)
style_df.columns = ["id", "name", "shortName"]

style_df.head()

   id                            name       shortName
0   1  Classic English-Style Pale Ale    English Pale
1   2    English-Style India Pale Ale     English IPA
2   3                 Ordinary Bitter          Bitter
3   4   Special Bitter or Best Bitter  Special Bitter
4   5            Extra Special Bitter             ESB

In [12]:
style_df.to_csv("./styles_raw.csv", encoding="utf-8")

In [41]:
style_df = pd.read_csv("styles_raw.csv")

## Clean Data

### Drop unneeded columns

In [55]:
df = df.drop(["Unnamed: 0", "updateDate", "originalGravity", "year", "available", "glasswareId", "name", "beerVariation", "beerVariationId", "description", "foodPairings", "glass", "servingTemperatureDisplay", "style", "labels", "srm", "statusDisplay"], axis=1)
df.head()

,abv,availableId,createDate,ibu,id,isOrganic,nameDisplay,servingTemperature,srmId,status,styleId
0,6.33,1,2015-04-20 21:43:59,25.0,ZsQEJt,N,"""633"" American Pale Ale",NaN,NaN,verified,25.0
1,5.60,1,2013-04-28 20:21:56,28.2,Hr5A0t,N,"""God Country"" Kolsch",NaN,5.0,verified,45.0
2,6.60,1,2013-07-27 14:02:13,45.0,5UcMBc,N,"""Ignition"" IPA",NaN,NaN,verified,30.0
3,NaN,1,2012-09-29 17:22:22,NaN,54rSgo,N,"""Jemmy Dean"" Breakfast Stout",NaN,NaN,verified,20.0
4,4.70,1,2012-01-03 02:44:19,26.0,b7WWL6,N,"""Mike Saw a Sasquatch"" Session Ale",NaN,NaN,verified,36.0

### Change `styleId` type from float to integer.

In [54]:
df = pd.read_csv("beers_raw.csv")

In [56]:
df["styleId"].isnull().values.any()

True

In [57]:
df.dropna(subset=["styleId"], inplace=True)

In [58]:
df["styleId"].isnull().sum()

0

In [59]:
df["styleId"] = df["styleId"].astype(int)

In [60]:
df["ibu"].isnull().values.any()

True

In [61]:
print(df["ibu"].isnull().sum())
print(df.shape)

3974
(9624, 11)

In [62]:
ibu_mean = round(np.mean(df["ibu"]), 1)

In [63]:
df["ibu"] = df["ibu"].fillna(ibu_mean)

In [64]:
df["ibu"].isnull().values.any()

False

In [65]:
df

,abv,availableId,createDate,ibu,id,isOrganic,nameDisplay,servingTemperature,srmId,status,styleId
0,6.33,1,2015-04-20 21:43:59,25.0,ZsQEJt,N,"""633"" American Pale Ale",NaN,NaN,verified,25
1,5.60,1,2013-04-28 20:21:56,28.2,Hr5A0t,N,"""God Country"" Kolsch",NaN,5.0,verified,45
2,6.60,1,2013-07-27 14:02:13,45.0,5UcMBc,N,"""Ignition"" IPA",NaN,NaN,verified,30
3,NaN,1,2012-09-29 17:22:22,39.6,54rSgo,N,"""Jemmy Dean"" Breakfast Stout",NaN,NaN,verified,20
4,4.70,1,2012-01-03 02:44:19,26.0,b7WWL6,N,"""Mike Saw a Sasquatch"" Session Ale",NaN,NaN,verified,36
5,6.00,1,2012-01-03 02:42:36,39.6,HXmS9k,N,"""My"" Bock",NaN,NaN,verified,88
6,6.50,1,2017-05-04 14:15:42,36.0,J7ysvG,N,"""OG"" Original Gangster",NaN,NaN,verified,25
7,7.80,1,2013-07-27 14:02:12,80.0,TAtY2B,N,"""Sneaky Devil"" Double IPA",NaN,NaN,verified,31
8,5.20,1,2013-07-27 14:02:47,28.0,K83yUU,N,"""Whistleblower"" Belgian Wit",NaN,NaN,verified,65
9,10.00,1,2015-06-01 14:29:55,24.0,Z7tz1C,Y,#2 Strong Ale,NaN,NaN,verified,14
10,5.10,1,2012-01-03 02:42:36,20.0,hB0QeO,N,#9,cold,9.0,verified,25
11,7.00,1,2015-03-22 16:53:15,71.0,QWkRz9,N,#Hashtag Hops IPA,NaN,NaN,verified,30
12,4.80,1,2016-06-21 16:27:40,27.0,m8f62Y,N,#KoLSCH,very_cold,3.0,verified,45
13,4.00,1,2012-01-03 02:42:36,39.6,sVIbQO,N,'400' Honey Ale,NaN,NaN,verified,36
14,5.00,1,2017-08-31 02:48:01,19.1,PTLQWB,N,'67 Blonde Ale,NaN,NaN,verified,36
15,5.00,1,2016-05-05 16:52:57,20.0,qhaIVA,N,(306) URBAN WHEAT BEER,cold,9.0,verified,65
16,4.16,1,2015-03-30 17:41:24,15.0,rCr5op,N,(416) Local Lager,cold,NaN,verified,93
17,7.00,1,2012-01-03 02:42:36,65.0,ezGh5N,N,(512) IPA,cold,8.0,verified,30
18,6.00,1,2012-01-03 02:42:36,30.0,2fXsvw,N,(512) Pale,cold,7.0,verified,25
19,5.10,1,2012-01-03 02:42:36,10.0,QLp4mV,N,(512) Wit,cold,5.0,verified,65
20,5.20,1,2014-09-10 22:51:11,35.0,EPnv3B,N,(916),cool,8.0,verified,25
21,5.10,1,2014-09-10 23:04:00,39.6,Ydra7E,N,(S)Wheat,NaN,NaN,verified,124
22,7.50,1,2015-03-11 18:58:53,56.0,3BSrTW,N,(Take The) Causeway IPA,NaN,NaN,verified,30
23,NaN,1,2015-08-28 14:07:22,39.6,ljNzIS,N,.58 Caliber,NaN,NaN,verified,30
24,7.00,1,2014-07-10 13:12:39,39.6,nMK1nd,N,.999,cold,NaN,verified,2
25,7.80,1,2012-01-03 02:42:36,80.0,btwcy1,N,077XX India Pale Ale,NaN,5.0,verified,31
26,NaN,1,2012-01-03 02:42:36,39.6,OM0rIm,N,1 North Lager,NaN,NaN,verified,80
27,5.20,1,2014-05-13 11:58:12,27.0,nxmBqg,N,10 Speed Hoppy Wheat,NaN,NaN,verified,113
28,7.00,1,2014-09-10 02:24:31,30.0,y6LrZ3,N,10 Ton,NaN,34.0,verified,21
29,6.20,1,2015-08-14 14:01:25,27.0,XkFxsH,N,10-Point Bock,NaN,13.0,verified,88
...,...,...,...,...,...,...,...,...,...,...,...
9640,5.50,1,2014-05-27 16:16:29,63.0,voBE2z,N,Yum Yum,NaN,NaN,verified,108
9641,5.50,1,2015-02-10 17:13:52,39.6,Ivc9SU,N,Yuzu Pale Ale,NaN,NaN,verified,25
9642,7.00,1,2013-09-28 04:06:51,71.0,Ng0MwI,N,Zack Morgan's IPA,NaN,10.0,verified,30
9643,6.30,1,2014-09-11 00:10:28,18.0,Bm9tRT,N,Zarabanda,NaN,NaN,verified,72
9644,8.00,1,2012-01-03 02:44:34,39.6,wCmrsY,N,Zatte Amsterdamse Tripel,cool,NaN,verified,59
9645,5.10,1,2013-11-26 13:00:28,29.0,b9ssjQ,N,Zeke's,NaN,7.0,verified,25
9646,6.00,1,2014-12-03 19:34:11,75.0,ozhHgI,N,Zenith IPA,NaN,NaN,verified,30
9647,5.90,1,2015-01-08 03:00:39,45.0,lhjfBt,N,Zeno's Pale Ale,NaN,NaN,verified,25
9648,7.20,1,2015-04-22 19:23:10,39.6,qxaM9B,N,ZEPHYR,cold,NaN,verified,30
9649,NaN,1,2012-01-03 02:44:34,39.6,Sw7snr,N,Zephyr Golden Ale,NaN,NaN,verified,25
9650,4.70,1,2012-01-03 02:44:34,36.0,g87lJM,N,Zephyrus Pilsner,NaN,NaN,verified,98
9651,5.40,1,2012-10-23 13:55:33,65.0,TJFb04,N,Zero Hour,NaN,33.0,verified,41
9652,10.00,1,2017-05-08 13:08:35,60.0,CWrotz,N,Zestig,NaN,NaN,verified,31
9653,7.24,1,2014-10-11 20:00:52,70.2,htoUmg,N,Zeus Will Smite Thee,cold,12.0,verified,30
9654,5.00,1,2015-03-12 19:17:47,39.6,Zie6mU,N,Zingari,NaN,NaN,verified,65
9655,4.90,1,2012-05-01 19:03:02,39.6,2lV08H,N,Zlatorog,NaN,NaN,verified,106
9656,7.20,1,2012-01-03 02:44:34,39.6,erOQsC,N,Zoe,NaN,NaN,verified,32
9657,6.20,1,2012-01-03 02:44:34,50.0,SPClNd,N,Zombie Dust,cold,11.0,verified,25
9658,5.50,1,2013-01-24 12:02:42,39.6,3wUBDX,N,Zombie Killer Cherry Cyser,NaN,NaN,verified,148
9659,5.00,1,2017-08-02 14:53:57,15.0,bBUdSl,N,Zondagskind,NaN,NaN,verified,48
9660,4.50,1,2014-11-12 16:41:47,39.6,pxKs6k,N,Zulu Blonde,NaN,NaN,verified,36
9661,9.30,1,2015-02-03 17:12:23,45.0,mtgPmZ,N,Zumbar Chocolate Coffe Imperial Stout,NaN,NaN,verified,43
9662,8.00,1,2015-08-10 15:47:50,39.6,KcYsSY,N,Zundert Trappist,cool,NaN,verified,60
9663,5.30,1,2016-05-21 10:39:02,39.6,OI7zts,N,Zwergenbräu Export,NaN,NaN,verified,79
9664,4.90,1,2016-05-21 10:38:17,39.6,lyPBkR,N,Zwergenbräu Pilsener,NaN,NaN,verified,75
9665,4.00,1,2017-06-26 15:19:32,22.0,kWSNVk,N,Zwickelbier,NaN,NaN,verified,75
9666,5.10,1,2016-04-04 19:34:17,39.6,6BH1m1,N,Zwickl Max,NaN,NaN,verified,92
9667,5.60,1,2015-12-31 13:47:57,39.6,wBHeYa,N,Zywiec Beer,NaN,NaN,verified,73
9668,6.90,1,2015-05-11 13:50:01,68.0,JOETmw,Y,‘39 Red IPA,NaN,15.0,verified,30
9669,3.80,1,2012-01-03 02:44:34,39.6,IIIhSR,N,“O!” Gold Light Lager,NaN,NaN,verified,94

### Merge data frames

In [71]:
df = df.merge(style_df, how="inner", left_on="styleId", right_on="id")

### Clean merged data frame

In [72]:
df.columns.values

array(['abv', 'availableId', 'createDate', 'ibu', 'id_x', 'isOrganic',
       'nameDisplay', 'servingTemperature', 'srmId', 'status', 'styleId',
       'styleName', 'Unnamed: 0', 'id_y', 'name', 'shortName'], dtype=object)

In [73]:
df = df.drop(["availableId", "Unnamed: 0", "id_y", "shortName"], axis=1)

In [75]:
df = df.rename(columns={"id_x": "id", "name": "styleName"})

In [78]:
df.to_csv("beers_clean.csv")